* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

nav {
    background-color: #2874f0;
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo {
    width: 75px;
    height: 20px;
    margin-top: 13px;
}

.logo-div {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.explore {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: white;
    font-style: italic;
    text-decoration: none;
}

.plus {
    font-family: 'Roboto', sans-serif;
    color: #ffe500;
    font-size: 11px;
    font-style: italic;
    text-decoration: none;
}

.gold-plus-img {
    width: 10px;
    height: 20px;
}

.plus-content {
    margin-top: -4px;
}

.plus-content:hover {
    text-decoration: underline white;
}

.nav-bar {
    width: 1240px;
    margin: 0 auto;
    display: flex;
}

.search {
    width: 522px;
    height: 36px;
    margin-top: 13px;
    margin-left: 15px;
    border: none;
    padding: 16px;
}

.search-btn {
    width: 42px;
    height: 36px;
    margin-top: 13px;
    border: none;
    background-color: white;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.icon {
    color: #2874f0;
}

.login-btn {
    width: 122px;
    height: 31px;
    margin-left: 50px;
    margin-top: 13px;
    border: none;
    border-radius: 2px;
}

.login {
    font-family: 'Poppins', sans-serif;
    color: #2874f0;
    font-weight: bolder;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.cart ._1sbqEe {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;
    padding: 12px 72px;
}

._2KpZ6l._3AWRsL {
    background: #fb641b;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
}