* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

nav {
    background-color: #2874f0;
    height: 56px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logo {
    width: 75px;
    height: 20px;
    margin-top: 13px;
}

.logo-div {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.explore {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: white;
    font-style: italic;
    text-decoration: none;
}

.plus {
    font-family: 'Roboto', sans-serif;
    color: #ffe500;
    font-size: 11px;
    font-style: italic;
    text-decoration: none;
}

.gold-plus-img {
    width: 10px;
    height: 10px;
}

.plus-content {
    margin-top: -4px;
}

.plus-content:hover {
    text-decoration: underline white;
}

.nav-bar {
    width: 1240px;
    margin: 0 auto;
    display: flex;
}

.search {
    width: 522px;
    height: 36px;
    margin-top: 13px;
    margin-left: 15px;
    border: none;
    padding: 16px;
}

.search-btn {
    width: 42px;
    height: 36px;
    margin-top: 13px;
    border: none;
    background-color: white;
}

.search-icon {
    height: 20px;
    width: 20px;
}

.icon {
    color: #2874f0;
}

.login-btn {
    width: 122px;
    height: 31px;
    margin-left: 50px;
    margin-top: 13px;
    border: none;
}

.login {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #2874f0;
    font-weight: bolder;
    font-size: 16px;
    line-height: 20px;
}

.seller {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 550;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 30px;
}

.more {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 550;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 30px;
}

.cart {
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 30px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

#cart {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 550;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.category-section {
    background-color: #ffffff;
    height: 113px;
    border-bottom: 1px solid rgb(206, 206, 206);
    cursor: pointer;
}

.categories {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.categories img {
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.categories-img {
    display: flex;
    flex-direction: column;
    margin: 12px 8px 12px 22px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.category-items {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 19.6px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 1px;
    color: #212121;
    margin-top: 5px;
    cursor: pointer;
}

.main-section {
    background-color: #f1f3f6;
    height: 100%;
}


/* .banner{
    width: 1680px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
} */

#slider {
    overflow: hidden;
    position: relative;
    width: 1680px;
    margin: 0 auto;
}

@keyframes slider {
    0% {
        left: 0;
    }
    30% {
        left: 0;
    }
    33% {
        left: -100%;
    }
    63% {
        left: -100%;
    }
    66% {
        left: -200%;
    }
    95% {
        left: -200%;
    }
    100% {
        left: 0;
    }
}

#slider figure {
    width: 300%;
    position: relative;
    animation: 9s slider infinite;
}

#slider figure:hover {
    /*animation-play-state: paused; enable for pause on hover*/
}

#slider figure img {
    width: 33.333333333%;
    height: 100%;
    float: left;
}

.left-arrow {
    position: absolute;
    top: 85px;
    width: 47px;
    height: 104px;
    background-color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    z-index: 1;
}

.right-arrow {
    position: absolute;
    top: 85px;
    right: -8px;
    width: 47px;
    height: 104px;
    background-color: white;
    border: none;
    border-radius: 5px 0 0 5px;
    z-index: 1;
}

.ads-section1 {
    display: grid;
    grid-template-columns: 230px 1186px 230px;
    margin: 0 auto;
    grid-gap: 5px;
}

.left-side {
    width: 230px;
    height: 361px;
    margin-top: 7px;
    margin-left: 113px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    box-shadow: 1px 1px 1px rgb(221, 220, 220);
}

.left-para {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 41.4px;
    font-weight: bolder;
    background-color: white;
    font-weight: normal;
}

.left-img {
    position: absolute;
    bottom: -6px;
}

.left-btn {
    width: 95px;
    height: 38px;
    background-color: #2874f0;
    border: 0;
    color: white;
    margin: 10px 20px 10px 20px;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgb(187, 186, 186);
}

.middle {
    width: 1205px;
    height: 362px;
    margin-top: 7px;
    position: relative;
    bottom: 0%;
    left: 9%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 1px 1px 1px rgb(221, 220, 220);
    cursor: pointer;
}

.items {
    margin: -12px 0 26px 0;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.items-name {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14px;
    margin-top: 50px;
    font-weight: 600;
    line-height: 19.6px;
    letter-spacing: 1;
}

.price {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #388e3c;
    font-size: 16px;
    margin-top: 10px;
}

.brand {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: thin;
    margin-top: 10px;
    color: rgb(173, 173, 173);
}

.right-part {
    position: relative;
    left: 131px;
    margin-top: 7px;
    width: 242px;
    height: 364px;
    border: 7px solid white;
    box-shadow: 1px 1px 1px rgb(221, 220, 220);
}

.ads-section2 {
    display: grid;
    grid-template-columns: 230px auto;
    /* margin: 0 auto; */
}

.left-side2 {
    width: 230px;
    height: 361px;
    margin-top: 20px;
    margin-left: 113px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: relative;
    box-shadow: 1px 1px 1px rgb(221, 220, 220);
    cursor: pointer;
}

.middle-2 {
    width: 1465px;
    height: 362px;
    margin-top: 20px;
    position: relative;
    bottom: 0%;
    left: 6%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-shadow: 1px 1px 1px rgb(221, 220, 220);
    cursor: pointer;
}

.items-2 {
    margin: 42px 66px 26px 8px;
    display: flex;
    flex-direction: column;
}

.right-arrow-2 {
    position: absolute;
    top: 120px;
    right: 1px;
    box-shadow: 0 0 6px 2px rgb(185, 184, 184);
    width: 47px;
    height: 104px;
    background-color: white;
    border: none;
    border-radius: 5px 0 0 5px;
    z-index: 1;
}

.image:hover {
    transition: all 0.2s;
    transform: scale(1.1);
}

.footer-section {
    width: 100%;
    background-color: #172337;
    margin-top: 20px;
    height: 371px;
}

.footer-content {
    display: flex;
    gap: 180px;
}

.links {
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 282px;
    height: 218px;
}

.links>a {
    padding: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 24px;
    text-decoration: none;
    color: #ffffff;
    max-width: 282px;
}

h4 {
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    line-height: 16.8px;
    color: #878787;
    font-weight: lighter;
    margin-top: 40px;
}

.first-link-section {
    margin-left: 65px;
}

.first-link {
    max-width: 282px;
    margin-top: 9px;
}

.about {
    margin-left: 65px;
}

.address-section {
    display: flex;
}

.vertical-line {
    border-left: 1px solid #878787;
    height: 134px;
    margin-top: 40px;
}

.email-section {
    max-width: 232px;
}

.email-section>p {
    max-width: 232px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin-left: 26px;
    margin-top: 9px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    max-width: 283px;
}

.mail {
    margin-left: 26px;
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    line-height: 16.8px;
    color: #878787;
    font-weight: lighter;
    margin-top: 40px;
}

.address-section {
    max-width: 282px;
}

.address {
    font-family: "Varela Round", sans-serif;
    font-size: 12px;
    line-height: 16.8px;
    margin-left: -150px;
    color: #878787;
    font-weight: lighter;
    margin-top: 40px;
}

.address-para {
    width: 268px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 18px;
    margin-left: -150px;
    margin-top: 9px;
    color: #ffffff;
}

.contact-no {
    color: #2874f0;
}

@media screen and (width: 760px) {
    body {
        margin: 10px;
    }
}